<h1>Update <%= animal.name %> </h1>

<form action="/animal/<%= animal._id %>?_method=PUT" placeholder="Animal Name">
    <input type="text" name="location" placeholder="Location" value="<%= animal.name %>">
    <input type="text" name="lifeExpectancy" placeholder="Life Expectancy" value="<%= animal.lifeExpectancy %>">
    <input type="checkbox" name="extinct" <%= animal.extinct ? "Yes" : "No" %>>
    <input type="submit" value="Update <%= animal.name %>">
</form>

<a href="/animal">Back to main page</a>