<h1><%= animal.name %></h1>
<h2>Extinct: <%= animal.extinct ? "Yes" : "No" %></h2>
<h3>LOCATION: <%= animal.location %></h3>
<h4>LIFE EXPECTANCY: <%= animal.lifeExpectancy %></h4>

<form action="/animal/<%= animal._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<a href="/animal">Back to main page</a>